.feature-item {
    padding-left: 94px;
    position: relative;
    padding-bottom: 40px;
    
    &__title {
        font-size: 1.6rem;
        font-weight: 300;
        margin-bottom: 10px;
        
        @mixin atMedium {
            font-size: 2rem;
        }
    }
    
    &__icon {
        position: absolute;
        left: 0;
    }
}