.page-section {
    padding: 30px 0;
    overflow: hidden;
    
    @mixin atMedium {
        padding: 50px 0;
    }
    
    &--blue {
        background-color: $mainBlue;
        color: #fff;
    }
} 