.page-section {
    padding: 30px 0;
    overflow: hidden;
    
    @mixin atMedium {
        padding: 50px 0;
        
    }
     
    &--blue {
        background-color: $mainBlue;
        color: #fff;
    }
    
    &__testimonials {
        background: #c2dbe6;
        padding-bottom: 0;
        @mixin atMedium {
            padding-bottom: 50px;
            
            &.lazyloaded {
                background: url(assets/images/testimonials-bg.jpg) top center no-repeat;
                background-size: cover;
            }
        }
    }
} 