.site-header {
    width: 100%;
    position: absolute;
    z-index: 2;
    transition: background-color .3s ease-out;
    
    &--is-expended {
        background-color: rgba($mainBlue, .3);
    }
    
    @mixin atMedium {
        background-color: rgba($mainBlue, .3);
    }
    
    
    &__logo {
        background: $mainBlue;
        padding: 25px 35px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%) scale(.8);
        transform-origin: 50% 0;
        
        @mixin atMedium {
            left: auto;
            float: left;
            transform: translateX(0) scale(1);
            
        }
    }
    
    &__btn-container {
        
        @mixin atMedium {
            float: right;
            margin: 12px 0;
        }
    }
    
    &__menu-content {
        opacity: 0;
        z-index: -10;
        transform: scale(1.2);
        padding-top: 100px;
        text-align: center;
        transition: all .3s ease-out;
        
        @mixin atMedium {
            opacity: 1;
            z-index: 1;
            padding-top: 0;
            transform: scale(1);
        }
        
        &--is-visible {
            opacity: 1;
            z-index: 1;
            transform: scale(1);
        }
         
    }
    
    
    &__menu-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 20px;
        height: 19px;
        display: block;
        z-index: 10;
        
        @mixin atMedium {
            display: none;
        }
        
        &::before {
            content: '';
            background: #fff;
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 3px;
            transform-origin: 0 50%;
            transition: all .3s ease-out;
        }
        
        &__middle {
            background: #fff;
            position: absolute;
            top: 10px;
            left: 0;
            width: 20px;
            height: 3px;
            transform-origin: 0 50%;
            transition: all .3s ease-out;
        }
        
        &::after {
            content: '';
            background: #fff;
            position: absolute;
            top: 19px;
            left: 0;
            width: 20px;
            height: 3px;
            transform-origin: 0 0;
            transition: all .3s ease-out;
        }
    }
    
    &__menu-icon--close-x {
        &::before {
            transform: rotate(45deg);
            width: 25px;
        }
        
        .site-header__menu-icon__middle {
            transform: scaleX(0);
            opacity: -1;
        }
        
        &::after {
            transform: rotate(-45deg) translateY(-1px);
            width: 25px;
        }
    }
}










 